<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="df.dao.mapper.RoomhotvalueMapper">
  <resultMap id="BaseResultMap" type="df.bean.Roomhotvalue">
    <result column="roomId" jdbcType="INTEGER" property="roomid" />
    <result column="hotValue" jdbcType="INTEGER" property="hotvalue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    roomId, hotValue
  </sql>
  <select id="selectByExample" parameterType="df.bean.RoomhotvalueExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from roomhotvalue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="df.bean.RoomhotvalueExample">
    delete from roomhotvalue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="df.bean.Roomhotvalue">
    insert into roomhotvalue (roomId, hotValue)
    values (#{roomid,jdbcType=INTEGER}, #{hotvalue,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="df.bean.Roomhotvalue">
    insert into roomhotvalue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomid != null">
        roomId,
      </if>
      <if test="hotvalue != null">
        hotValue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="hotvalue != null">
        #{hotvalue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="df.bean.RoomhotvalueExample" resultType="java.lang.Long">
    select count(*) from roomhotvalue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update roomhotvalue
    <set>
      <if test="record.roomid != null">
        roomId = #{record.roomid,jdbcType=INTEGER},
      </if>
      <if test="record.hotvalue != null">
        hotValue = #{record.hotvalue,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update roomhotvalue
    set roomId = #{record.roomid,jdbcType=INTEGER},
      hotValue = #{record.hotvalue,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <!-- myself:批量插入 -->
  <insert id="insertBatch" parameterType="java.util.List">
    insert into roomhotvalue (roomId, hotValue) values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.roomId,jdbcType=INTEGER},
      #{item.hotValue,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>